@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

header {
	background-color: #ddd4cc;
	padding: 20px 0px;
	text-align: center;
}

body {
	padding: 5px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(231, 224, 216);
}

ul {
	padding:0;
	margin:0;
    margin-left: auto;
    margin-right: auto;
	display: table;
}

li {
	display: table-cell;
	padding: 10px;
}

ul li a:hover
{
    color : rgb(56, 42, 42);
}

ul li a {
	text-decoration: none;
	font-weight: bolder;
	color: gray;
}

#intro {
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 20px;
	max-width: 80%;
}

#boutton {
	text-decoration: none;
	margin-top: 30px;
	margin-left: 70px;
	padding: 5px;
	color: white;
	background-color: black;
	display:block;
	text-align:center;
	width:450px;
	line-height:30px;
	border-radius: 5px;
	font-size: 12px;
}

#p1 {
	font-size: 20px;
	max-width: 80%;
}

#p2 {
	font-size: 20px;
	max-width: 80%;
	color: #993300;
}

#titreliste {
	margin-top: 30px;
}

#nav {
	list-style-type: disc;
	margin-left: 50px;
}

#ingre {
	display: list-item;
	padding: 7px;
	font-size: 20px;
}


#nav2 {
	list-style-type: decimal;
	margin-left: 50px;
	text-decoration: none;
	max-width: 80%;
}